@font-face {font-family: Satoshi;font-display: swap;src: url("/assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("/assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("/assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("/assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("/assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("/assets/fonts/iconfont.woff2?42b3ccaaece588dec338ad863111fe62") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-s-yt"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-ws"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-tw"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-tiktok"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-tictoc"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-tch"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-ptn"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-inst"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-drb"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-s-bh"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f113"; 
	} 
* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e0e0e;
  z-index: 1000;
  pointer-events: none;
}
html[data-fls-loaded]::after {
  opacity: 0;
  transition: opacity 0.5s;
}

body {
  min-width: 20rem;
  color: rgba(218, 197, 167, 0.6);
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
  background-color: #0e0e0e;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-d"]::before {
  transform: rotate(180deg);
}

[class*="--arrow-l"]::before {
  transform: rotate(90deg);
}

[class*="--arrow-r"]::before {
  transform: rotate(-90deg);
}

[class*="--arrow-ru"]::before {
  transform: rotate(45deg);
}

[class*="--arrow-lu"]::before {
  transform: rotate(-45deg);
}

[class*="--arrow-rd"]::before {
  transform: rotate(225deg);
}

[class*="--arrow-ld"]::before {
  transform: rotate(-135deg);
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem 1.25rem;
}
.menu__link {
  font-family: "Satoshi", sans-serif;
  color: #dac5a7;
  font-size: 0.8125rem;
  line-height: 1.6; /* 21/13 */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.5s;
}
.menu__link::after {
  content: "";
  width: 0;
  height: 0.03125rem;
  background-color: #dac5a7;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}
html:not([data-fls-touch]) .menu__link:hover {
  color: #f9efe1;
}
html:not([data-fls-touch]) .menu__link:hover::after {
  width: 100%;
  left: 0;
  background-color: #f9efe1;
}
.menu__link--active::after {
  width: 100%;
  left: 0;
  background-color: #f9efe1;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.header {
  position: fixed;
  top: 0.9375rem;
  right: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
  transition: translate 0.8s, top 0.8s;
}
.header__container {
  pointer-events: auto;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 5;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  padding: 0.75rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  z-index: 2;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
[data-fls-header-scroll].--header-scroll {
  top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  translate: 0 calc(-100% - 0.9375rem);
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.footer {
  background-color: rgba(218, 197, 167, 0.05);
}
.footer__container {
  max-width: 101.875rem;
}
.body-footer {
  display: flex;
  row-gap: 1.875rem;
}
.body-footer__content {
  flex: 0 1 28.22%; /* 460/1630 */
}
.body-footer__menus {
  display: flex;
  flex-wrap: wrap;
  font-family: "Satoshi", sans-serif;
  flex-grow: 1;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  font-size: 1.25rem;
  font-weight: 300;
  color: #dac5a7;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
}
.--spoller-init .body-footer__title {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.--spoller-init .body-footer__title::after {
  content: "\f112";
  font-family: "iconfont";
  font-size: 0.625rem;
  color: #dac5a7;
  rotate: 180deg;
  transition: rotate 0.5s;
}
.--spoller-active .body-footer__title::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  transition: color 0.3s;
}
.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__social.social {
  gap: 1rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.bottom-footer__copy {
  font-size: 0.75rem;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.button {
  font-family: "Satoshi", sans-serif;
  display: inline-flex;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  color: #dac5a7;
  font-size: 0.8125rem;
  line-height: 1.46;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  transition: background-color 0.5s, color 0.5s;
}
.button--lite {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #dac5a7;
  color: #0e0e0e;
}
.button--icon {
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.75rem;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  width: 2rem;
  aspect-ratio: 1;
  text-align: center;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  border-radius: 50%;
  transition: all 0.5s;
}
.button--text-big::before {
  aspect-ratio: 1;
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.social--text .social__link {
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  line-height: 1.6;
}
.social__item {
  flex-shrink: 0;
}
[data-fls-watcher] .social__item {
  scale: 0;
}
.--watcher-view .social__item {
  transition-duration: 0.8s;
  scale: 1;
}
.--watcher-view .social__item:nth-child(1) {
  transition-delay: 0.4s;
}
.--watcher-view .social__item:nth-child(2) {
  transition-delay: 0.5s;
}
.--watcher-view .social__item:nth-child(3) {
  transition-delay: 0.6s;
}
.--watcher-view .social__item:nth-child(4) {
  transition-delay: 0.7s;
}
.--watcher-view .social__item:nth-child(5) {
  transition-delay: 0.8s;
}
.--watcher-view .social__item:nth-child(6) {
  transition-delay: 0.9s;
}
.social__link {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8125rem;
}
.social__link::before {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  align-content: center;
  text-align: center;
  border-radius: 50%;
  width: 2.875rem;
  aspect-ratio: 1;
  color: #dac5a7;
  transition: background-color 0.3s, color 0.3s;
}
html:not([data-fls-touch]) .social__link:hover::before {
  color: #0e0e0e;
  background-color: #dac5a7;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
[data-fls-border] {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  border-radius: 0.125rem;
}/* Generated by vite-plugin-svg-spritemap */
@keyframes reveal-up {
  from {
    opacity: 0;
    translate: 0 var(--reveal-distance);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }}
@media (max-width: 47.99875em) {
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(14, 14, 14, 0.8);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.9375rem 1.25rem;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #dac5a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .body-footer {
    flex-direction: column;
  }
  .content-footer {
    align-items: center;
  }
  .content-footer__social.social {
    justify-content: center;
  }
  .content-footer__social.social .social__link span {
    display: none;
  }
  .bottom-footer {
    flex-direction: column;
    justify-content: center;
  }
  .social--text .social__link {
    gap: 0.5rem;
  }}
@media (max-width: 31.25em) {
  .body-footer__menu {
    text-align: center;
  }
  .body-footer__title {
    text-align: center;
    align-items: center;
    justify-content: center;
  }}
@media (max-width: 29.99875em) {
  .body-footer__menus {
    flex-direction: column;
    align-items: center;
  }}
@media (max-width: 20em) {
  .footer {
    padding-block: 2.5rem;
  }
  .footer__body {
    margin-bottom: 1.875rem;
  }
  .body-footer {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 1.25rem;
  }
  .content-footer {
    gap: 1.25rem;
  }
  .button--text-big::before {
    font-size: 0.8125rem;
  }
  .button--text-big::before {
    width: 2.1875rem;
  }}
@media (min-width: 20em) and (max-width: 89.375em) {
  .footer {
    padding-block: clamp( 2.5rem , 2.06756756756875rem  +  2.1621621622vw , 4rem );
  }
  .footer__body {
    margin-bottom: clamp( 1.875rem , 0.82995495495625rem  +  5.2252252252vw , 5.5rem );
  }
  .body-footer {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__menus {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .body-footer__list {
    padding-top: clamp( 1.25rem , 1.03378378378125rem  +  1.0810810811vw , 2rem );
  }
  .content-footer {
    gap: clamp( 1.25rem , 0.8355855855875rem  +  2.0720720721vw , 2.6875rem );
  }
  .button--text-big::before {
    font-size: clamp( 0.8125rem , 0.7764639639625rem  +  0.1801801802vw , 0.9375rem );
  }
  .button--text-big::before {
    width: clamp( 2.1875rem , 1.95326576576875rem  +  1.1711711712vw , 3rem );
  }}
@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 5;
  }
  .header {
    top: 3rem;
  }
  .header__body {
    padding-left: 1.5rem;
    gap: 2rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  [data-fls-header-scroll-show].--header-scroll {
    translate: 0 calc(-100% - 2.8125rem);
  }
  .content-footer__social.social {
    flex-direction: column;
    align-items: flex-start;
  }}
@media (min-width: 89.375em) {
  .footer {
    padding-block: 4rem;
  }
  .footer__body {
    margin-bottom: 5.5rem;
  }
  .body-footer {
    column-gap: 4rem;
  }
  .body-footer__menus {
    column-gap: 4rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
  .content-footer {
    gap: 2.6875rem;
  }
  .button--text-big::before {
    font-size: 0.9375rem;
  }
  .button--text-big::before {
    width: 3rem;
  }}
@media (any-hover: hover) {
  .button:hover {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
  .button--lite:hover {
    background-color: rgba(218, 197, 167, 0.05);
    color: #dac5a7;
  }
  .button--text:hover {
    color: #dac5a7;
    background-color: transparent;
  }
  .button--text:hover::before {
    background-color: #dac5a7;
    color: #0e0e0e;
  }}
@media (any-hover: hover) and (any-pointer: fine) {
  .body-footer__link:hover {
    color: #dac5a7;
  }}