button,
input,
textarea {
	font-family: "Poppins", sans-serif;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.4;
	color: var(--color-text);

	background-color: var(--bg-color);
	transition: background-color 0.3s;
}

img {
	cursor: pointer;
}

a {
	color: var(--color-text);
}

[class*="__container"] {
	padding-inline: 7%;
	padding-block: 0;
}

.container {
	@include flex-col(20);
	background: #f9f9f9;
	padding-inline: 17% 2%;
	padding-block: toRem(20);

	@media (max-width: $bp-tablet) {
		padding-inline: 5%;
	}
}

.container--large {
	padding-inline-start: 7%;

	@media (max-width: $bp-tablet) {
		padding-inline: 5%;
	}
}

.title-box {
	color: var(--color-text);
	font-size: toRem(13);
	transition: color 0.25s ease;

	// .title-box__title
	&__title {
		transition: color 0.25s ease;
	}
}

.banner {
	background-image: linear-gradient(to right, #433b3a, transparent), url("../images/main-banner-1.webp");
	background-size: cover;
	background-position: center;
	border-radius: toRem(8);
	padding: 5%;
	color: #fff;

	// .banner__title
	&__title {
		font-size: 4vw;
		line-height: 5.3vw;
		font-weight: 500;
	}

	// .banner__text
	&__text {
		font-size: toRem(18);
		margin: toRem(10) 0;
	}

	// .banner__btn
	&__btn {
		padding: toRem(12) toRem(30);
		border-radius: toRem(8);
		margin-top: toRem(20);
		color: #fff;
		border: toRem(1) solid #fff;

		transition:
			background 0.3s ease,
			color 0.3s ease,
			transform 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: darken(#ed3833, 8%);
				transform: translateY(toRem(-2));
			}
		}

		&:active {
			transform: translateY(0);
		}
	}
}

.divider {
	@include divider();
}

.video-sidebar {
	flex-basis: 30%;

	@media (max-width: $bp-desktop-lg) {
		flex-basis: 40%;
	}

	@media (max-width: $bp-tablet) {
		flex-basis: 100%;
	}
}
