@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

@import "_reset.scss";

@import "_mixins.scss";
@import "_variables.scss";

@import "_base.scss";

@import "_theme.scss";

@import "_video-list.scss";

@import "_nav.scss";

@import "_aside.scss";

@import "_video-page.scss";


