.footer {
	// .footer__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		gap: toRem(20);
		padding-block-end: toRem(30);
	}

	// .footer__socials
	&__socials {
		display: flex;
		gap: toRem(20);
	}

	// .footer__link
	&__link {
		color: var(--color-border);
		font-size: toRem(22);

		transition:
			color 0.3s ease,
			transform 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: darken(#999, 10%);
				transform: translateY(toRem(-2));
			}
		}

		&:active {
			transform: translateY(0);
		}
	}

	// .footer__divider
	&__divider {
		border-top: toRem(1) solid var(--color-border);
		height: toRem(1);
		width: 100%;
	}

	&__copyright {
		@media (max-width: $bp-tablet) {
			font-size: toRem(15);
		}
	}
}
